@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Welcome - UmbracoTV</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	
	<body>

		<!-- Navigation -->
		<div class="container bg-primary">
			<nav class="navbar navbar-expand navbar-light">
				<a class="navbar-brand font-weight-bold" href="index.html">UmbracoTV</a>
				<!-- Links -->
				<ul class="navbar-nav">
					<li class="nav-item">
					    <a class="nav-link" href="Contentpage-Simple.html">Simple Content Page</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="Contentpage-Advanced.html">Advanced Content Page</a>
                    </li>
                    <li class="nav-item">
					    <a class="nav-link" href="Blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
					    <a class="nav-link" href="Contentpage2.html">The Team</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="Contactpage.html">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<!-- Jumbotron, w title -->
		<div class="jumbotron text-center jumbotron-fluid">
			<div class="container">
				<h1 class="display-1">Welcome - UmbracoTV</h1>
				<p>And this is <span class="font-weight-bold">only</span> the beginning.</p>
			</div>
		</div>


		<!-- Grey Banner -->
		<div class="container-fluid grey-bg">
			<div class="container">
				<div class="row section">
					<div class="col-md-8">
						<h2>A flexible CMS - do things your way</h2>
						<p>The Umbraco source code is free and available for download either as a ZIP file or via NuGet under the MIT license, so you can <a href="#">start crafting websites in Umbraco today</a>. 
						Need to build a site with multiple 3rd party extensions and customized add-ons? No problem. Need to build a simple site with a straightforward contact form? No problem.</p>
						<p>Whatever type or scale of your project, Umbraco will be able to handle it - and the cherry on top; with Umbraco’s well-known editor friendly UI, 
							no matter how complex a site you’re building, you know that your editors will still find it a breeze to edit. Oh, and the cherry on top of the cherry - 
							there's <span class="font-weight-bold">no need for you to spend time learning a new coding or templating language as Umbraco is based on C#, javaScript and Razor</span>. </p>
					</div>
					<div class="col-md-4">
						
@{
    // Get the image property
    var image = Model.Value<IPublishedContent>("bug"); // "bug" should be the alias of your media picker property

    // Initialize URL and alt text variables
    string imageUrl = null;
    string imageAlt = null;

    // Ensure that the image exists
    if (image != null)
    {
        // Get the URL of the image
        imageUrl = image.Url;

        // Optional: Get the alt text or any other property you need
        imageAlt = image.Name; // You can use a different property for alt text if needed
    }
}

@if (imageUrl != null)
{
    <img src="@imageUrl" alt="@imageAlt" />
}

					</div>
				</div>
			</div>
		</div>


		<!-- Footer -->
		<div class="container-fluid footer">
			<div class="container">

				<div class="row section">
					<div class="col-md-4">
					<h5>Umbraco Resources</h5>
						<ul class="footer-links">
							
							<li><a href="#">Developer Documentation</a></li>
							<li><a href="#">Umbraco.TV</a></li>
							<li><a href="#">Umbraco HQ Youtube Channel</a></li>
							<li><a href="#">Training Courses</a></li>
							<li><a href="#">Umbraco Webinars</a></li>
						</ul>
					</div>
					<div class="col-md-4">
					<h5>Meet Umbraco</h5>
						<ul class="footer-links">
							
							<li><a href="#">About HQ</a></li>
							<li><a href="#">Meet the people</a></li>
							<li><a href="#">Teams</a></li>
							<li><a href="#">Our Umbraco</a></li>
							<li><a href="#">Forum</a></li>
							<li><a href="#">Community Teams</a></li>
						</ul>
					</div>
					<div class="col-md-4 text-center">
					<h5>Follow Umbraco</h5>
						<ul class="footer-links">
							
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Instagram</a></li>
						</ul>
					</div>
					<div class="text-center">
						<img src="/images/arm_with_u_logo.png" class="img-fluid" alt="Arm with Umbraco Logo">
					</div>
				</div>

			</div>
		</div>
	
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	
	</body>
</html>
