<h1 id="tableLabel">Book Angular App BAA</h1>

<p>This component demonstrates fetching data with API:s.</p>



<nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto">
  <a class="navbar-brand " href="#">My App</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-quotes">My Quotes</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
